h1,h2,h3,p,a{
    font-family: system-ui;
}

.header{
    width: 100%;
}

.cabecera{
    display: flex;
    background-color: rgb(177, 23, 23);
    color: white;
    flex-direction: column;
    text-align: center; 
    padding: 15px;

}

h1{
    font-weight: bold;
    font-size: 40px;
    padding-top:5px;
}

.cabecera p{
    font-style: oblique;
    font-size: 15px;
    align-self: flex-end;
}

.menu{
    display: none;
}

.nav{
    background-color: rgba(211, 189, 189, 0.76);
    border: solid 3px rgb(177, 23, 23);
    padding:5px 4px;

}

.nav ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.nav li{
    margin:5px 15px;
}

.nav li a {
    font-size: 18px;
    font-weight: 900;
    color: rgb(46, 23, 177); 
}

.nav li a:hover {
    color: rgb(26, 12, 99); 
    text-decoration: underline;
}

main{
    display: flex;
    flex-direction: row;
}

section, main, body{
    background-color: rgba(216, 202, 202, 0.473);
}

section{
    padding: 20px;
    max-width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section h1{
    font-weight: 900;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0px 0px 9px 0px;
    font-size: 30px;
}

.titNot{
    color: white; 
    font-weight: bold;
    font-size: 22px;
    margin-bottom: 10px;
}

aside{
    background-color:  rgba(212, 174, 174, 0.76);
    border: solid 4px  rgb(177, 23, 23);
    margin: 5px;
}

article img{
    max-width: 100%;
    margin-bottom: 14px;
}

article{
    max-width: 80%;
    margin:15px;
    padding: 15px;
    background-color:  rgb(177, 23, 23);
    /* border-top: solid 4px black; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

article p{
    font-size: 18px;
    color:rgb(212, 210, 210);
    margin-bottom: 8px;
    align-self: flex-start;
}

aside{
    background-color:  rgba(212, 174, 174, 0.76);
    border: solid 4px  rgba(177, 23, 23, 0.644);
    margin: 5px;
    padding: 8px;
}

aside h3{
    color: rgb(177, 23, 23);
    text-decoration: underline;
    font-weight: 700;
    margin-bottom: 5px;
}

aside div{
    margin: 10px 0px;
}

aside div a{
    color: rgb(46, 23, 177); 
    font-weight: 500;
}

aside div a:hover {
    color: rgb(26, 12, 99); 
    text-decoration: underline;
}

footer{
    background-color: rgb(26, 12, 99); 
    color: white;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

footer div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.p1{
    font-weight: 900;
    margin-bottom: 7px;
    font-size: 17px;
}

.p2{
    font-style: italic;
    font-weight: unset;
    font-size: 15px;
}

.pGuion{
    margin:0px 3px;
}


@media (max-width: 768px) {
    .cabecera{
        padding: 10px;
    }

    h1{
        padding-bottom: 6px;
        font-size: 30px;
        padding-top:0px;
    }

    .cabecera p{
        font-size: 14px;
        align-self: center;
    }
    
    .nav ul{
        justify-content: space-around;
        flex-wrap:wrap;
    }

    .nav li{
        margin: 3px;
    }

    .nav li a {
        font-size: 15px;
    }

    .nav li a:hover {
        color: rgb(26, 12, 99); 
        text-decoration: underline;
    }

    section{
        padding: 8px;
        max-width: 100%;
    }

    aside{
        display: none;
    }

    section h1{
        margin: 9px 0px 12px 0px;
        font-size: 25px;
    }

    article{
        max-width: 100%;
        margin: 0px 0px 5px 0px;
        padding: 10px 8px;
        border-top: solid 4px black;
        display: block;
        background-color:  rgba(216, 202, 202, 0.473);

    }
    
    
    article img{
        margin-bottom: 10px;
    }

    .titNot{
        font-size: 16px;
        margin-bottom: 8px;
        color: rgb(53, 17, 231); 
    }

    article p{
        font-size: 15px;
        color: black;
        margin-bottom: 0px;
    }

    footer{
        padding: 10px;
    }
    
    .p1{
        margin-bottom: 8px;
        font-size: 15px;
    }

    .p2{
        font-size: 13px;
    }
}

@media (max-width: 400px) {

    .cabecera{
        padding: 6px;
    }
    h1{
        padding-bottom: 6px;
        font-size: 25px;
        padding-top:0px;
    }
    .cabecera p{
        font-size: 10px;
        align-self: center;
    }

    .nav{
        display: none;
    }
    
    .menu{
        padding-top: 10px;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }

    .menu p{
        font-weight: 900;
        font-size: 12px;
        color: black;
        margin-right: 8px;
    }

    .menu img{
        max-width:5%;
    }
    
    main{
        display: block;
    }

    section{
        padding: 8px;
        max-width: 100%;

    }

    aside{
        display: none;
    }

    section h1{
        margin: 9px 0px 12px 0px;
        font-size: 20px;
    }

    article{
        max-width: 100%;
        margin: 0px 0px 5px 0px;
        padding: 10px 8px;
        border-top: solid 4px black;
        display: block;
        background-color:  rgba(216, 202, 202, 0.473);
    }
    
    article img{
        margin-bottom: 5px;
    }

    .titNot{
        font-size: 13px;
        margin-bottom: 3px;
        color: rgb(53, 17, 231); 
    }

    article p{
        font-size: 12px;
        color: black;
        margin-bottom: 0px;
    }

    footer{
        padding: 12px;
    }

    .p1{
        margin-bottom: 5px;
        font-size: 12px;
    }

    .p2{
        font-size: 10px;
        align-self: center;
    }

    .pGuion{
        display: none;
    }

}

