body{
    height: 100vh;
}

.header{
    width: 100%;
    height: 6%;
}

.cabecera{
    display: flex;
    background-color: rgb(47 7 212 / 78%);
    color: rgb(255 255 255);
    flex-direction: column;
    text-align: center; 
    padding: 2px;
}

h1{
    font-family: system-ui;
    font-weight: bold;
    font-size:30px;
}

main{
    display: flex;
    flex-direction: row;
    height: 93%;
}

section, main, body{
    background-color: rgb(219 219 219);
}

section{
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section{
    width: 100%;
}

section h1{
    font-weight: 900;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0px 0px 9px 0px;
    font-size: 30px;
}

article{
    margin:15px;
    padding: 15px;
    background-color:  rgb(255 69 0);
}

section article{
    max-width: 100%;
    width: 60%;
}

section article form{
    display: flex;
    flex-direction: column;
}

form>div{
    display: flex;
    flex-direction: row;
}

.fila{
    width: 100%;
    margin: 0px 10px 10px 10px;
    justify-content: center;
}

.col1, .col2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
    width: 50%;
}

.col1 .grupo, .col2 .grupo{
    margin: 8px;
    display: flex;
    flex-direction: column;
}

.col1 .grupo>div, .col2 .grupo>div{
    margin: 8px 8px 0 8px;
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items: center;
}

.col1 label, .col2 label{
    margin-right: 8px;
    font-weight: bold;
    color: rgb(255 255 255);
    font-size:large;
}

.col1 input, .col2 input{
    height: 25px;
    background-color: rgb(173, 216, 230);
    border-radius: 5px;
    border: 1px solid rgb(0 0 255);
    padding: 5px;
    width: 60%;
}

.filaGrupo{
width: 100%;
}

#spanCom{
    margin: 2px 8px 0 8px;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: center;
}

.filaGrupo label{
    margin-right: 8px;
    margin-bottom: 5px;
    font-weight: bold;
    color: rgb(255 255 255);
    font-size:large;
}

.filaGrupo textarea{
    background-color: rgb(173, 216, 230);
    border-radius: 5px;
    border: 1px solid rgb(0 0 255);
    padding: 5px;
    width: 98%;
    font-family: system-ui;
}

span{
    color: orange;
    font-size: small;
    margin: 0px;
    display: none;
}

.boton{
    justify-content: center;
}

#boton{
    background-color: rgb(47 7 212 / 78%);;
    border-radius: 5px;
    color:rgb(255 255 255);
    font-weight:700;
    width: 90px;
    font-size: medium;
    height: 30px;
    padding: 5px;
    font-size: 16px;
    cursor: pointer;
    margin: 5px;
    border: none;
}

#boton:hover{
    box-shadow: inset 0px 0px 6px 2px rgb(255 255 255 / 54%);
}

#boton:disabled{
    cursor: auto;
    background-color: rgba(48, 7, 212, 0.582);
    color: rgb(179, 179, 179);
}

@media (max-width: 768px) {
    .header{
        height: 5%;
    }

    main{
        height: 94%;
    }

    .cabecera{
        padding: 2px;
    }

    h1{
        font-size: 25px;
    }

    section{
        padding: 8px;
        max-width: 100%;
    }

    article{
        max-width: 100%;
        margin: 0px 0px 5px 0px;
        padding: 10px 8px;
        display: block;
    }

    section article{
        width: 100%;
    }

    form>div{
        flex-direction: column;
        align-items: flex-start;
    }

    .col1, .col2{
        width: 100%;
        margin: 0px;
    } 

    .col1 .grupo, .col2 .grupo{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
        margin:8px 0 ;
    }

    .col1 .grupo>div, .col2 .grupo>div{
        display: flex;
        flex-direction: row;         
        align-items: center;
        justify-content: space-between;
    }
   
    .boton{
        width: 100%;        
        align-items: center;
    }
}

@media (max-width: 480px) {
  
    .cabecera{
        padding: 6px;
    }

    h1{
        font-size: 20px;
    }

    section article{
        width: 100%;
        display: flex;
    }

    section article form{
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    form>div{
        display: flex;
        flex-direction: column;
    }

    form>div{
        display: flex;
        flex-direction: column;
    }

    .col1, .col2{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 2px 8px;
    }

    .col1 label, .col2 label{
        margin-bottom: 5px;
        font-size: medium;
    }

    .col1 input, .col2 input{
        margin:0px auto;
        width: 90%;
        height: 25px;
        background-color: rgb(173, 216, 230);
    }

    .span{
        font-size: x-small;
        margin-top: 3px;
        margin-left: 15px;
        display: flex;
        flex-wrap: wrap;
    }

    #inputComentario{
        font-size: x-small;
        margin-top: 3px;
        margin-left: 0px;
        display: flex;
        flex-wrap: wrap;
    }

    .col1 .grupo>div, .col2 .grupo>div{
        display: flex;
        flex-direction: column;         
        align-items: flex-start; 
    }

    .grupo label{
        margin-bottom: 5px;
    }

    #boton{
        width: 30%;
        align-self: center;
        height: 30px;
        font-size: small;
    }
}

@media (max-width: 400px) {
    main{
        display: block;
    }

    section{
        padding: 8px;
        max-width: 100%;
    }

    article{
        max-width: 100%;
        margin: 0px 0px 5px 0px;
        padding: 10px 8px;
    }
}

