.header{
    width: 100%;
}

.cabecera{
    display: flex;
    background-color: rgb(47 7 212 / 78%);
    color: white;
    flex-direction: column;
    text-align: center; 
    padding: 15px;

}

h1{
    font-family: system-ui;
    font-weight: bold;
    font-size: 40px;
}

main{
    display: flex;
    flex-direction: row;
    height: 85vh;
}

section, main, body{
    background-color: rgb(219 219 219);
}

section{
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100%;

}

article{
    width: 100%;
    height: 100%;
    /* justify-content: center; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contenedorPrincipal{
    display: flex;
    justify-content: space-between;
    margin: 10px;
    flex-wrap: wrap;
}

h2{
    font-weight:900;
    font-size: 30px;
}

#comboPuntos{
    display: block;
}

.tituloPuntos, #puntaje{
    font-weight:700;
    font-size: 18px;
}

.tituloPuntosMax, #puntajeMax{
    font-weight:900;
    font-size: 20px;
}

.nivelYpuntos{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.nivelYpuntos>h2{
     margin-bottom: 5px;
}

#puntaje, .tituloPuntosMax, #puntajeMax{
    color: orangered;
}

.contenedorColor{
    width:620px; 
    height: 620px;
    margin: auto;
    display: flex; 
    flex-direction: column;
}

.contenedorColores{
    display: flex;
    width: 100%;
    height: 100%;
}
.contenedorBotones{
    margin-top: 15px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


.botones {
    width:90px;
    height: 30px;
    font-weight:700;
    padding: 5px;
    font-size: 16px;
    cursor: pointer;
    color: white;
    margin: 5px;
    border: none;
}

#comenzarJuego{
    background-color: rgb(47 7 212 / 78%);
}

#reiniciarJuego{
    background-color: orangered;
}

#comenzarJuego:hover, #reiniciarJuego:hover{
    box-shadow: inset 0px 0px 6px 2px rgb(255 255 255 / 54%);
}

#comenzarJuego:disabled{
    cursor: auto;
    background-color: rgba(48, 7, 212, 0.582);
    color: #b3b3b3;
}

#reiniciarJuego:disabled{
    cursor: auto;
    background-color: rgba(255, 68, 0, 0.634);
    color: #b3b3b3;
}

#r{
    width: 100%;
    height: 100%;
    background-color: #7c0202;
    border-radius: 100% 0 0 0;
}

#v{
    width: 100%;
    height: 100%;
    background-color: #025802; 
    border-radius: 0 100% 0 0; 
}

#am{
    width: 100%;
    height: 100%;
    background-color:#858503;
    border-radius: 0 0 0 100%;
}

#az{
    width: 100%;
    height: 100%;
    background-color:#030381;
    border-radius: 0 0 100% 0;
}

/* aside{
    background-color: rgb(0 55 255 / 51%);
    width: 25vw;
}

aside div{
    margin: 15px;
    display: flex; 
    flex-direction: column;
} */

@media (max-width: 768px) {
    .cabecera{
        padding: 10px;
    }

    h1{
        font-size: 30px;
    }

    /* section{
        width: 100%;
    } */

    /* aside{
        display: none;
    } */
   
    article{
        justify-content: flex-start;
    }
    .contenedorColor{
        width:450px; 
        height: 450px;
    }

    h2{
        font-weight:900;
        font-size: 24px;
    }

    .tituloPuntos, #puntaje{
        font-weight:700;
        font-size: 18px;
    }

    .tituloPuntosMax, #puntajeMax{
        font-weight:900;
        font-size: 17px;
    }

    .botones {
        width:70px;
        height: 25px;
        font-weight:700;
        padding: 3px;
        font-size: 15px;
    }
}

@media (max-width: 480px) {

    .cabecera{
        padding: 6px;
    }

    h1{
        font-size: 25px;
    }
  
    main{
        display: block;
    }

    section{
        padding: 8px;
        width: 100%;

    }

    /* aside{
        display: none;
    } */

    /* section h1{
        margin: 9px 0px 12px 0px;
        font-size: 20px;
    } */

    article{
        /* max-width: 100%;
        margin: 0px 0px 5px 0px;
        padding: 10px 8px; */
        justify-content: space-between;
    }
    
    .contenedorPrincipal{
        margin-bottom: 30px;
    }

    h2{
        font-weight:900;
        font-size: 20px;
    }

    .tituloPuntos, #puntaje{
        font-weight:700;
        font-size: 16px;
    }

    .tituloPuntosMax, #puntajeMax{
        font-weight:900;
        font-size: 16px;
    }

    .contenedorColor{
        width:350px; 
        height: 350px;
    }

    .botones {
        width:70px;
        height: 25px;
        font-weight:700;
        padding: 3px;
        font-size: 15px;
    }
}