body {
    background-color: black;
    color: white;
    font-family: 'Bambino New';
}

.contenedor{
    width: 100%;
    overflow: hidden;
}

.nav {
    list-style: none;
    /* font-family: 'Times New Roman', Times, serif; */
    font-size: 20px;
    display: flex;
    flex-direction: row;
}

.header {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 30px;

}

.nav li {
    margin: 0 12px;
}

a {
    text-decoration: none;
    color: white;
}

.cuerpo {
    max-width: 70%;
    padding: 30px;

}

h1,
h3 {
    font-size: 2.75em;
    font-weight: 700;
}

h2 {
    font-size: 1.25em;
    font-weight: 100;
    border-bottom: 1px solid rgba(255, 255, 255, 0.496);
    padding-bottom: 20px;
}

.pie-de-pagina {
    margin-top: 5px;
    margin-bottom: 50px;
    color: rgba(255, 255, 255, 0.415);
}

.rojo {
    color: red;
}

.img {
    width: 100%;
    height: auto;
}

.logo {
    max-width: 150px;
}

.blanco-oscuro,
h4 {
    font-weight: 900;
    font-size: 22px;
}

.blanco-claro {
    color: rgba(255, 255, 255, 0.733);
    font-size: 20px;
}

#list {
    list-style: none;
}

#list li {
    margin-bottom: 10px;
}

#list li::before {
    content: "\2022";
    padding-right: 20px;
    color: red;
}

footer {
    margin-top: 80px;
    text-align: center;
    background-color: rgb(67, 67, 67);
    font-family: cursive;
    font-size: 12px;
    padding-top: 15px;
    padding-bottom: 30px;
}

@media (max-width: 800px) {
    .nav, .header {
      flex-direction: column;
    }
    .nav li {
        margin: 3px 0;
    }
}

@media screen and (max-width: 800px) {
    .cuerpo {
        max-width: 100%; 
    }
    .cuerpo, .header {
        padding: 0;
    
    }
}
