body{
    height: 100vh;
}

.header{
    width: 100%;
    height: 6%;
}

.cabecera{
    display: flex;
    background-color: rgb(47 7 212 / 78%);
    color: white;
    flex-direction: column;
    text-align: center; 
    padding: 5px;

}

h1{
    font-family: system-ui;
    font-weight: bold;
    font-size:30px;
}

main{
    display: flex;
    flex-direction: row;
    height: 93%;
}

section, main, body{
    background-color: rgb(219 219 219);
}

section{
    padding: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100%;

}

article{
    width: 100%;
    height: 100%;
    /* justify-content: center; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.contenedorPrincipal{
    display: flex;
    justify-content: space-between;
    margin: 5px;
    flex-wrap: wrap;
}

h2{
    font-weight:900;
    font-size: 26px;
}

#comboPuntos{
    display: block;
}

.tituloPuntos, #puntaje{
    font-weight:700;
    font-size: 18px;
}

.tituloPuntosMax, #puntajeMax{
    font-weight:900;
    font-size: 20px;
}

.nivelYpuntos{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.nivelYpuntos>h2{
     margin-bottom: 5px;
}

#puntaje, .tituloPuntosMax, #puntajeMax{
    color: orangered;
}

.contenedorColor{
    width:480px; 
    height: 480px;
    margin: auto;
    display: flex; 
    flex-direction: column;
}

.contenedorColores{
    display: flex;
    width: 100%;
    height: 100%;
}
#contenedorBotones{
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


.botones {
    width:90px;
    height: 30px;
    font-weight:700;
    padding: 5px;
    font-size: 16px;
    cursor: pointer;
    color: white;
    margin: 5px;
    border: none;
}

#comenzarJuego, #enviar{
    background-color: rgb(47 7 212 / 78%);
}

#reiniciarJuego{
    background-color: orangered;
}

#comenzarJuego:hover, #reiniciarJuego:hover, #enviar:hover{
    box-shadow: inset 0px 0px 6px 2px rgb(255 255 255 / 54%);
}

#comenzarJuego:disabled, #enviar:disabled{
    cursor: auto;
    background-color: rgba(48, 7, 212, 0.582);
    color: #b3b3b3;
}

#reiniciarJuego:disabled{
    cursor: auto;
    background-color: rgba(255, 68, 0, 0.634);
    color: #b3b3b3;
}

#r{
    width: 100%;
    height: 100%;
    background-color: #7c0202;
    border-radius: 100% 0 0 0;
}

#v{
    width: 100%;
    height: 100%;
    background-color: #025802; 
    border-radius: 0 100% 0 0; 
}

#am{
    width: 100%;
    height: 100%;
    background-color:#858503;
    border-radius: 0 0 0 100%;
}

#az{
    width: 100%;
    height: 100%;
    background-color:#030381;
    border-radius: 0 0 100% 0;
}

/* aside{
    background-color: rgb(0 55 255 / 51%);
    width: 25vw;
}

aside div{
    margin: 15px;
    display: flex; 
    flex-direction: column;
} */
#contenedorNombre{
    display: none;
    justify-content: center;
    width:100%;
    margin-top:20px;
}

form, .form, .contenedorForm{
    display: flex;
    flex-direction: column;
}

form{
    width: 250px;
    align-items: center;
}

.form, .contenedorForm{
    align-items: flex-start;
    width: 100%;
}

/* .form {
    margin-bottom: 8px;
} */
 
.form label{
    margin-bottom: 4px;
    font-family: system-ui;
    font-size: 15px;
    font-weight: 700;
}

#nombre{
    font-family: system-ui;
    padding: 4px;
    width: 100%;    
    border: 2px solid rgb(47 7 212 / 78%);
    border-radius: 5px;
}

#enviar{
    height: 30px;
    font-weight:700;
    padding: 5px;
    font-size: 16px;
    cursor: pointer;
    color: white;
    border: none;
    margin-bottom: 5px;
    margin-top: 17px;
    border-radius: 5px;
    width: 90px;
}

.span{
    margin-top: 5px;
    /* margin-bottom: 0px; */
}

#inputnombre{
    color: orangered;
    font-size: small;
    display: none;

}

.contenedorContacto{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    position:absolute;
    left: 1%;
    bottom: 1%;
}

.contenedorContacto2{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    position:absolute;
    right: 1%;
    bottom: 1%;
}

.iconoEmail, .iconoGit{
    margin-right: 5px;
    width: 18px;
}

.contenedorContacto a, .contenedorContacto2 a{
    color:rgb(47 7 212 / 78%);
    font-size: 14px;
    font-weight: 700;
    font-family: system-ui;
}

@media (max-width: 768px) {

    .header{
        height: 6%;
    }

    main{
        height: 94%;
    }

    .cabecera{
        padding: 5px;
    }

    h1{
        font-size: 25px;
    }
   
    article{
        justify-content: flex-start;
    }
    .contenedorColor{
        width:450px; 
        height: 450px;
    }

    h2{
        font-weight:900;
        font-size: 24px;
    }

    .tituloPuntos, #puntaje{
        font-weight:700;
        font-size: 18px;
    }

    .tituloPuntosMax, #puntajeMax{
        font-weight:900;
        font-size: 17px;
    }

    .botones {
        width:70px;
        height: 25px;
        font-weight:700;
        padding: 3px;
        font-size: 15px;
    }

    .form label{
        font-size: 13px;
        font-weight: 700;
    }

    #enviar{
        width: 70px;
        height: 25px;
        font-size: 14px;
    }
    
}

@media (max-width: 480px) {

    
    .header{
        height: 5%;
    }

    main{
        height: 95%;
    }
    .cabecera{
        padding: 6px;
    }

    h1{
        font-size: 20px;
    }

    section{
        padding: 2px;
        width: 100%;

    }

    /* article{
        justify-content: space-between;
    } */
    
    .contenedorPrincipal{
        margin-bottom: 30px;
    }

    h2{
        font-weight:900;
        font-size: 20px;
    }

    .tituloPuntos, #puntaje{
        font-weight:700;
        font-size: 16px;
    }

    .tituloPuntosMax, #puntajeMax{
        font-weight:900;
        font-size: 16px;
    }

    .contenedorColor{
        width:350px; 
        height: 350px;
    }

    .botones {
        width:70px;
        height: 25px;
        font-weight:700;
        padding: 3px;
        font-size: 12px;
    }

    .form label{
        font-size: 12px;
        font-weight: 700;
    }

    #enviar{
        width: 70px;
        height: 25px;
        font-size: 12px;
    }
    
    #inputnombre{
        font-size: x-small;   
    }

    form{
        width: 200px;
    }

    .contenedorContacto, .contenedorContacto2{
        margin-left: 7px;    
    }

    .iconoEmail, .iconoGit{
        width: 13px;
        margin-right: 3px;
    }
    
    .contenedorContacto a, .contenedorContacto2 a{
        font-size: 13px;
    }
}