.header{
    width: 100%;
}

.cabecera{
    display: flex;
    background-color: rgb(177, 23, 23);
    color: white;
    flex-direction: column;
    text-align: center; 
    padding: 15px;
    font-family: system-ui;
}

h1{
    font-weight: bold;
    font-size: 40px;
    padding-top:5px;
}

main{
    display: flex;
    flex-direction: row;
}

section, main, body{
    background-color: rgba(216, 202, 202, 0.473);
}

section{
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

article{
    margin:15px;
    padding: 15px;
    background-color:  rgb(177, 23, 23);
}

section article{
    max-width: 100%;
    width: 60%;
}

section article form{
    display: flex;
    flex-direction: column;
}

form>div{
    display: flex;
    flex-direction: row;
}

.col1, .col2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
    width: 50%;
}

.col1 .group, .col2 .group{
    margin: 8px;
    display: flex;
    flex-direction: column;
}

.col1 .group>div, .col2 .group>div{
    margin: 8px 8px 0 8px;
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items: center;
}

.col1 label, .col2 label{
    margin-right: 8px;
    font-weight: bold;
    color: white;
    font-size:large;
}

.col1 input, .col2 input{
    height: 25px;
    background-color: lightblue;
    border-radius: 5px;
    border: 1px solid blue;
    padding: 5px;
    width: 60%;
}

span{
    color: orange;
    font-size: small;
    margin: 0px;
}

.boton{
    justify-content: center;
}

#boton{
    background-color: rgb(46, 23, 177); 
    border: 3px solid rgb(26, 12, 99); 
    border-radius: 5px;
    color:white;
    font-weight:700;
    width: 20%;
    font-size: medium;
    height: 30px;
}


@media (max-width: 768px) {
    .cabecera{
        padding: 10px;
    }

    h1{
        padding-bottom: 6px;
        font-size: 30px;
        padding-top:0px;
    }

    section{
        padding: 8px;
        max-width: 100%;
    }

    article{
        max-width: 100%;
        margin: 0px 0px 5px 0px;
        padding: 10px 8px;
        display: block;
    }
    
    section article{
        width: 100%;
    }

    form>div{
        flex-direction: column;
        align-items: flex-start;
    }

    .col1, .col2{
        width: 100%;
        margin: 0px;
    } 

    .col1 .group, .col2 .group{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
        margin:8px 0 ;
    }

    .col1 .group>div, .col2 .group>div{
        display: flex;
        flex-direction: row;         
        align-items: center;
        justify-content: space-between;
    }
   
    .boton{
        width: 100%;        
        align-items: center;
    }
}

@media (max-width: 490px) {
    section article{
        width: 100%;
        display: flex;
    }

    section article form{
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    form>div{
        display: flex;
        flex-direction: column;
    }

    form>div{
        display: flex;
        flex-direction: column;
    }

    .col1, .col2{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 2px 8px;

    }

    .col1 label, .col2 label{
        margin-bottom: 5px;
        font-size: medium;
    }

    .col1 input, .col2 input{
        margin:0px auto;
        width: 90%;
        height: 25px;
        background-color: lightblue;
    }

    #form span{
        font-size: x-small;
        margin-top: 3px;
        margin-left: 15px;
        display: flex;
        flex-wrap: wrap;
    }

    .col1 .group>div, .col2 .group>div{
        display: flex;
        flex-direction: column;         
        align-items: flex-start; 
    }

    .group label{
        margin-bottom: 5px;
    }

    #boton{
        width: 30%;
        align-self: center;
        height: 30px;
        font-size: small;
    }
}


@media (max-width: 400px) {

    .cabecera{
        padding: 6px;
    }

    h1{
        margin-top:5px;
        padding-bottom: 5px;
        font-size: 25px;
        padding-top:0px;
    }

    main{
        display: block;
    }

    section{
        padding: 8px;
        max-width: 100%;
    }

    article{
        max-width: 100%;
        margin: 0px 0px 5px 0px;
        padding: 10px 8px;  
    }
}

